body {
background-color: aqua;
}

/* CONTAINER */
.container {
    max-width: 1160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    font-style: italic;
    text-decoration: none;
    list-style: none;
    color: chartreuse;
}
h1 {
    color: chocolate;
    font-style: oblique;
}

h2 {
    color: crimson;
    font-style: initial;
}

p {
    color:mediumblue;
}
img {
    border-radius: 50%;
     border: black;
     
}

