body {
background-color: aqua;
}
a {
    font-style: italic;
    text-decoration: none;
    list-style: none;
    color: chartreuse;
}
h1 {
    color: chocolate;
    font-style: oblique;
}

h2 {
    color: crimson;
    font-style: initial;
}

p {
    color:mediumblue;
}
img {
    border-radius: 50%;
     border: black;
     
}